{% block title %}Home{% endblock title %}
{% block content %}
  <h2>Dictionary</h2>
  <form action="/search/" method="POST">
    <input name="search" type="text" placeholder="Search.."/>
    <input type="submit" value="search"/>
  </form>
{% endblock content %}
