{% extends "base.html" %}
{% block title %}"Results"{% endblock title %}
{% block content %}
  {% for result in results %}
    {% if result != [] %}
      <div class="result">
        <ul>
          {% for entry in result %}
            <li>
              <div class="entry">
                <div class="spanish">{{entry[0]}}</div>
                <div class="english">{{entry[1]}}</div>
                <div class="class">{{entry[2]}}</div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endfor %}
{% endblock content %}
